<div class="movie-card" id="{{id}}" data-index="cardInfo">
    {{#if poster_path}}
    <img class="movie-card-img" src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="Film {{title}} poster" />
    {{else}}
    <img class="movie-card-img" src="https://raw.githubusercontent.com/marvall/filmoteka/main/src/images/no-poster.png"
        alt="poster of {{original_title}}" />
    {{/if}}

    <div class="card-description-wrapper">
        <h2 class="movie-card-title">{{title}}</h2>
        <div class="stats-wrapper">
            <div class="stats-titles">
                <p class="stats-title">Vote / Votes</p>
                <p class="stats-title">Popularity</p>
                <p class="stats-title">Original Title</p>
                <p class="stats-title">Genre</p>
            </div>
            <div class="stats-info">
                <p class="stats-info-vote">
                    <span class="stats-info-rating">{{vote_average}}</span> /
                    <span class="stats-info-votes">{{vote_count}}</span>
                </p>
                <p class="stats-info-popularity">{{popularity}}</p>
                <p class="stats-info-title">{{title}}</p>
                <p class="stats-info-genre">{{genres}}</p>
            </div>
        </div>
        <h3 class="movie-card-about-title">about</h3>
        <p class="movie-card-about">{{overview}}</p>
        <button class="btn-to-wached" data-index="btn-to-wached">
            add to Watched
        </button>
        <button class="btn-to-queue" data-index="btn-to-queue">
            add to queue
        </button>
    </div>
</div>