{{#each this}}
<li class="card" id="{{id}}" data-index="card">
  <button class="btn-youtube">
    <i data-id="{{id}}" data-index="btn-youtube" class="material-icons youtube"> smart_display</i>
  </button>
  {{#if poster_path}} <img data-index="card-img" class="card-img" src='https://image.tmdb.org/t/p/w300{{poster_path}}' loading="lazy"
    alt='Film {{title}} poster' />
  {{else}}
  <img data-index="card-img" class="card-img" src='https://raw.githubusercontent.com/marvall/filmoteka/main/src/images/no-poster.png'
    loading="lazy" alt='Film {{title}} poster' />
  {{else}}
  <img data-index="card-img" class="card-img"
    src='https://raw.githubusercontent.com/marvall/filmoteka/main/src/images/no-poster.png' loading="lazy"
    alt='Film {{title}} poster' />
  {{/if}}

  <div class="card-info">
    <h2 class="card-title"> {{title}} </h2>
    <p class="card-genre"> {{#if genre_ids}}{{genre_ids}}{{/if}}{{#if genres}}{{genres}}{{/if}} </p>
    {{#if release_date}}
    <p class="card-release-year"> {{release_date}} </p>
    {{/if}}
    {{#if vote_average}}
    <p class="card-vote is-visible" data-hiden="true">
      {{vote_average}}
    </p>
    {{/if}}
  </div>
</li>
{{/each}}