<div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
            <div class="movie-tmpl">

                <img class="movie-img" src="https://image.tmdb.org/t/p/w300{{poster_path}}"
                    alt="poster of {{original_title}}">

                <div class="movie-description">

                    <h2 class="movie-title">{{original_title}}</h2>
                    <p class="movie-item">
                        <i class="movie-item-title">Vote/Votes</i>
                        <span class="value vote"> {{vote_average}} </span>
                        <span class="value votes"> / {{vote_count}}</span>
                    </p>

                    <p class="movie-item">
                        <i class="movie-item-title">Popularity</i>
                        <span class="value">{{popularity}}</span>
                    </p>

                    <p class="movie-item">
                        <i class="movie-item-title">Original Title</i>
                        <span class="value">{{original_title}}</span>
                    </p>

                    <p class="movie-item" style="margin-bottom: 20px;">
                        <i class="movie-item-title">Genre</i>
                        <span class="value">{{genre_ids}}</span>
                    </p>

                    <h3 class="about-title">about</h3>
                    <article class="movie-review">{{overview}}</article>

                    <div class="btns">
                        <button class="btn-to-wached btn" data-index="btn-to-wached">ADD TO WATCHED</button>
                        <button class="btn-to-queue btn" data-index="btn-to-queue">ADD TO QUEUE</button>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>