<div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal_container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <main class="modal_content" id="modal-1-content">
            <div class="movie-tmpl" id="{{id}}" data-index="cardInfo">

                {{#if poster_path}}
                <img class="movie-img" src="https://image.tmdb.org/t/p/w300{{poster_path}}"
                    alt="poster of {{original_title}}">
                {{else}}
                <img class="movie-img"
                    src="https://raw.githubusercontent.com/marvall/filmoteka/main/src/images/no-poster.png"
                    alt="poster of {{original_title}}" />
                {{/if}}

                <div class="movie-description">
                    <h2 class="movie-title">{{original_title}}</h2>

                    <div class="grid-container">
                        {{!-- <p class="movie-item"> --}}
                            <i class="movie-item-title">Vote/Votes</i>
                        <div class="value">
                            <span class="vote"> {{vote_average}} </span>
                            /
                            <span class="votes"> {{vote_count}}</span>
                        </div>
                        {{!--
                        </p> --}}

                        {{!-- <p class="movie-item"> --}}
                            <i class="movie-item-title">Popularity</i>
                            <span class="value">{{popularity}}</span>
                            {{!--
                        </p> --}}

                        {{!-- <p class="movie-item"> --}}
                            <i class="movie-item-title">Original Title</i>
                            <span class="value">{{original_title}}</span>
                            {{!--
                        </p> --}}

                        {{!-- <p class="movie-item" style="margin-bottom: 20px;"> --}}
                            <i class=" movie-item-title">Genre</i>
                            <span class="value">{{genres}}</span>

                            {{!--
                        </p> --}}
                    </div>

                    <h3 class="about-title">about</h3>
                    <article class="movie-review">{{overview}}</article>

                    <div class="btns-modal">
                        <button class="btn-modal-to-wached btn-modal" data-index="btn-to-wached">ADD TO
                            WATCHED</button>
                        <button class="btn-modal-to-queue btn-modal" data-index="btn-to-queue">ADD TO QUEUE</button>
                    </div>
                </div>
        </main>
    </div>
</div>